# exclude the NonGit subfolder
non_git/

# exclude venv folder (Pycharm virtual environment)
venv/

# exclude secret files
*.secret

# exclude compiled python files
*.py[cod]
__pycache__/

# exclude pycharm project information
.idea/

# exclude vscode configuration and workspace files
.vscode/
workspace.code-workspace

# exclude .NET core binaries and obj subfolders
.NET Core/bin/
.NET Core/obj/
IOT/IOT hub reader/bin/
IOT/IOT hub reader/obj/
