#Commented out some stuff :)
#This requirements file is for the webapp-test and needs to be in the root of the repository
#click==6.7
Flask==1.0.2
#itsdangerous==0.24
#Jinja2==2.10
#MarkupSafe==1.0
#Werkzeug==0.14.1
